# Desafio da semana 3

## Objetivo

Queremos conhecer melhor nossos clientes por estado. Para isso, iniciamos uma análise na pontuação de crédito. 
Para realizar a verificação inicial, precisamos de alguns valores.
Os valores são a média, a mediana, a moda e o desvio padrão da pontuação de crédito.

## Tópicos

Neste desafio você aprenderá:

- Média;
- Mediana;
- Moda;
- Desvio padrão.

_**Pacotes**_

In [1]:
import pandas as pd

_**Leitura dos dados**_

In [2]:
dados = pd.read_csv("desafio1.csv")

In [3]:
dados.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

_**Número de linhas e colunas**_

In [4]:
dados.shape

(7000, 12)

_**Tipos de dados**_

In [5]:
dados.dtypes

RowNumber                     int64
id                           object
sobrenome                    object
pontuacao_credito             int64
estado_residencia            object
genero                       object
idade                         int64
nivel_estabilidade            int64
saldo_conta                 float64
numero_produtos               int64
possui_cartao_de_credito      int64
membro_ativo                  int64
dtype: object

_**Verificando se existem variáveis (colunas) com dados faltantes**_

In [6]:
dados.isna().sum()

RowNumber                   0
id                          0
sobrenome                   0
pontuacao_credito           0
estado_residencia           0
genero                      0
idade                       0
nivel_estabilidade          0
saldo_conta                 0
numero_produtos             0
possui_cartao_de_credito    0
membro_ativo                0
dtype: int64

_**Algumas medidas descritivas**_

In [7]:
dados.describe()

,RowNumber,pontuacao_credito,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
count,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000
mean,3500.500000,649.787000,38.892714,5.010286,76471.883751,1.526000,0.703286,0.512143
std,2020.870275,97.046279,10.465562,2.887500,62403.383911,0.583047,0.456842,0.499888
min,1.000000,350.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,1750.750000,582.000000,32.000000,3.000000,0.000000,1.000000,0.000000,0.000000
50%,3500.500000,651.000000,37.000000,5.000000,97277.130000,1.000000,1.000000,1.000000
75%,5250.250000,717.000000,44.000000,7.250000,127537.155000,2.000000,1.000000,1.000000
max,7000.000000,850.000000,92.000000,10.000000,250898.090000,4.000000,1.000000,1.000000

_**Calculando a moda da variável (coluna) "pontuação_credito" para cada estado**_

In [8]:
dados.groupby("estado_residencia").agg({"pontuacao_credito":pd.Series.mode})

                   pontuacao_credito
estado_residencia
PR                               850
RS                               850
SC                               850

_**Calculando a mediana da variável (coluna) "pontuação_credito" para cada estado**_

In [9]:
dados.groupby("estado_residencia")["pontuacao_credito"].median().reset_index()

  estado_residencia  pontuacao_credito
0                PR                650
1                RS                650
2                SC                653

_**Calculando a média da variável (coluna) "pontuação_credito" para cada estado**_

In [10]:
dados.groupby("estado_residencia")["pontuacao_credito"].mean().reset_index()

  estado_residencia  pontuacao_credito
0                PR         648.961294
1                RS         651.105143
2                SC         649.537653

_**Calculando o desvio padrão da variável (coluna) "pontuação_credito" para cada estado**_

In [11]:
dados.groupby("estado_residencia")["pontuacao_credito"].std().reset_index()

  estado_residencia  pontuacao_credito
0                PR          98.607186
1                RS          95.136598
2                SC          97.233493

_**Calculando a moda, mediana, média e desvio padrão da variável (coluna) "pontuação_credito" para cada estado**_

In [12]:
solucao = dados.groupby("estado_residencia")["pontuacao_credito"].agg([pd.Series.mode,"median","mean","std"]).T

In [13]:
solucao

estado_residencia          PR          RS          SC
mode               850.000000  850.000000  850.000000
median             650.000000  650.000000  653.000000
mean               648.961294  651.105143  649.537653
std                 98.607186   95.136598   97.233493

In [14]:
solucao.sort_index(axis = 1, ascending = False, inplace = True)

In [15]:
solucao

estado_residencia          SC          RS          PR
mode               850.000000  850.000000  850.000000
median             653.000000  650.000000  650.000000
mean               649.537653  651.105143  648.961294
std                 97.233493   95.136598   98.607186

_**Renomeando os índices**_

In [16]:
solucao.rename(index = {"mode": "moda", "median": "mediana", "mean": "media", "std": "desvio_padrao"}, inplace = True)

In [17]:
solucao

estado_residencia          SC          RS          PR
moda               850.000000  850.000000  850.000000
mediana            653.000000  650.000000  650.000000
media              649.537653  651.105143  648.961294
desvio_padrao       97.233493   95.136598   98.607186

_**Criando um arquivo chamado 'submission' e Salvando a 'solucao' em um arquivo com extensão '.json'**_

In [18]:
solucao.to_json("submission.json")

_**Abrindo o arquivo para leitura dos dados**_

In [19]:
dados1 = pd.read_json("submission.json")

_**Conferindo as respostas**_

In [20]:
dados1

                       SC          RS          PR
moda           850.000000  850.000000  850.000000
mediana        653.000000  650.000000  650.000000
media          649.537653  651.105143  648.961294
desvio_padrao   97.233493   95.136598   98.607186

_**Outra forma de abrir o arquivo criado para leitura**_

In [21]:
with open("submission.json", "r") as arquivo:
    dados = arquivo.read()

_**Verificando as respostas**_

In [22]:
print(dados)

{"SC":{"moda":850.0,"mediana":653.0,"media":649.5376527423,"desvio_padrao":97.2334927934},"RS":{"moda":850.0,"mediana":650.0,"media":651.1051428571,"desvio_padrao":95.1365984138},"PR":{"moda":850.0,"mediana":650.0,"media":648.9612940497,"desvio_padrao":98.6071859131}}