# Desafio do Acelera Data Science

**Autor: Erick Amorim**

**Criando um modelo de aprendizagem de máquina para prever a nota de matemática de quem participou do ENEM 2016**.

O objetivo do desafio é avaliar a sua capacidade de resolver problemas, então ele pode ser resolvido em qualquer linguagem de programação.

*Aqui irei adotar a **linguagem R** por ser a minha favorita*.

## Manipulação e Exploração dos Dados

***Pacotes ou Bibliotecas usadas neste desafio.***

In [1]:
library(randomForest)

randomForest 4.6-14
Type rfNews() to see new features/changes/bug fixes.

***Fazendo a leitura das bases de dados.***

In [2]:
baseTreino = read.csv('train.csv')
baseTeste = read.csv('test.csv')

***Observando os primeiro registros da base de treino.***

In [3]:
head(baseTreino)

  X NU_INSCRICAO                             NU_ANO CO_MUNICIPIO_RESIDENCIA
1 1 ed50e8aaa58e7a806c337585efee9ca41f1eb1ad 2016   4314902
2 2 2c3acac4b33ec2b195d77e7c04a2d75727fad723 2016   2304707
3 3 f4545f8ccb9ff5c8aad7d32951b3f251a26e6568 2016   2304400
4 4 3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe 2016   3304557
5 5 bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268 2016   1302603
6 6 a37c99ec251d4f6e8ddbeabadf1c87fdbfddc4d1 2016   2902005
  NO_MUNICIPIO_RESIDENCIA CO_UF_RESIDENCIA SG_UF_RESIDENCIA NU_IDADE TP_SEXO
1 Porto Alegre            43               RS               24       M
2 Granja                  23               CE               17       F
3 Fortaleza               23               CE               21       F
4 Rio de Janeiro          33               RJ               25       F
5 Manaus                  13               AM               28       M
6 Aracatu                 29               BA               18       F
  TP_ESTADO_CIVIL ... Q041 Q042 Q043 Q044 Q045 Q046 Q047 Q048 Q049 Q050
1 0               ...  5   A    A    A    A    A    A    A    B    D
2 0               ... NA   A    A    C    A    B    A    A    C    A
3 0               ... NA   A    A    A    A    C    A    A    B    A
4 0               ...  5   C    A    A    A    A    D    A    A    A
5 0               ... NA   A    A    A    A    A    A    A    A    A
6 0               ... NA   A    A    A    A    A    A    A    A    A

***Observando os primeiro registros da base de teste***

In [4]:
head(baseTeste)

  NU_INSCRICAO                             CO_UF_RESIDENCIA SG_UF_RESIDENCIA
1 73ff9fcc02f0a99919906c942c2e1a1042cdcf98 41               PR
2 71a95f9f1b91a82c65ad94abbdf9f54e6066f968 21               MA
3 b38a03232f43b11c9d0788abaf060f7366053b6d 23               CE
4 70b682d9a3636be23f6120fa9d6b164eb3c6002d 15               PA
5 715494628a50142ce8cb17191cfe6d0f3cae0934 41               PR
6 e656d6bad65c93fb2880f1eba5037008c8e75774 43               RS
  NU_IDADE TP_SEXO TP_COR_RACA TP_NACIONALIDADE TP_ST_CONCLUSAO TP_ANO_CONCLUIU
1 22       F       3           1                1               5
2 26       F       3           1                1               8
3 21       M       1           1                2               0
4 27       F       3           1                1               8
5 18       M       1           1                2               0
6 18       M       3           1                1               1
  TP_ESCOLA ... NU_NOTA_COMP5 NU_NOTA_REDACAO Q001 Q002 Q006 Q024 Q025 Q026
1 1         ...  40           420             B    A    C    A    A    C
2 1         ... 100           580             E    B    C    B    B    B
3 2         ...  80           320             E    E    D    B    B    A
4 1         ...  NA            NA             H    E    G    B    B    A
5 2         ...   0           320             D    H    H    C    B    A
6 1         ...  80           560             E    E    C    B    B    A
  Q027 Q047
1 C    A
2 F    A
3      A
4      A
5      A
6      A

***Verificando o numero de registros (linhas) e variáveis (colunas) da base de treino e teste.***

*Veja que existem mais variáveis na base de teste (47 variáveis) do que na base de treino.*

In [5]:
dim(baseTreino)
dim(baseTeste)

[1] 13730   167

[1] 4576   47

***Verificando quais variáveis estão na base de teste.***

In [6]:
names(baseTeste)

 [1] "NU_INSCRICAO"           "CO_UF_RESIDENCIA"       "SG_UF_RESIDENCIA"
 [4] "NU_IDADE"               "TP_SEXO"                "TP_COR_RACA"
 [7] "TP_NACIONALIDADE"       "TP_ST_CONCLUSAO"        "TP_ANO_CONCLUIU"
[10] "TP_ESCOLA"              "TP_ENSINO"              "IN_TREINEIRO"
[13] "TP_DEPENDENCIA_ADM_ESC" "IN_BAIXA_VISAO"         "IN_CEGUEIRA"
[16] "IN_SURDEZ"              "IN_DISLEXIA"            "IN_DISCALCULIA"
[19] "IN_SABATISTA"           "IN_GESTANTE"            "IN_IDOSO"
[22] "TP_PRESENCA_CN"         "TP_PRESENCA_CH"         "TP_PRESENCA_LC"
[25] "CO_PROVA_CN"            "CO_PROVA_CH"            "CO_PROVA_LC"
[28] "CO_PROVA_MT"            "NU_NOTA_CN"             "NU_NOTA_CH"
[31] "NU_NOTA_LC"             "TP_LINGUA"              "TP_STATUS_REDACAO"
[34] "NU_NOTA_COMP1"          "NU_NOTA_COMP2"          "NU_NOTA_COMP3"
[37] "NU_NOTA_COMP4"          "NU_NOTA_COMP5"          "NU_NOTA_REDACAO"
[40] "Q001"                   "Q002"                   "Q006"
[43] "Q024"                   "Q025"                   "Q026"
[46] "Q027"                   "Q047"

***Vamos utilizar as variáveis que estão da base de teste para fazer nossas previsões, então teremos que ter estas mesmas variáveis na nossa base de treinamento.***

_O comando a abaixo cria uma nova base de treino chamada **base** com as mesmas variáveis da **baseTreino.**_

In [7]:
base=baseTreino[names(baseTeste)]
dim(base)

[1] 13730    47

_Precisamos acrecentar a **base** mais uma coluna que contém as notas de matemática (nossa *variável resposta*)._

In [8]:
base =  cbind(base,baseTreino[,"NU_NOTA_MT"]) 
names(base)

 [1] "NU_INSCRICAO"                 "CO_UF_RESIDENCIA"
 [3] "SG_UF_RESIDENCIA"             "NU_IDADE"
 [5] "TP_SEXO"                      "TP_COR_RACA"
 [7] "TP_NACIONALIDADE"             "TP_ST_CONCLUSAO"
 [9] "TP_ANO_CONCLUIU"              "TP_ESCOLA"
[11] "TP_ENSINO"                    "IN_TREINEIRO"
[13] "TP_DEPENDENCIA_ADM_ESC"       "IN_BAIXA_VISAO"
[15] "IN_CEGUEIRA"                  "IN_SURDEZ"
[17] "IN_DISLEXIA"                  "IN_DISCALCULIA"
[19] "IN_SABATISTA"                 "IN_GESTANTE"
[21] "IN_IDOSO"                     "TP_PRESENCA_CN"
[23] "TP_PRESENCA_CH"               "TP_PRESENCA_LC"
[25] "CO_PROVA_CN"                  "CO_PROVA_CH"
[27] "CO_PROVA_LC"                  "CO_PROVA_MT"
[29] "NU_NOTA_CN"                   "NU_NOTA_CH"
[31] "NU_NOTA_LC"                   "TP_LINGUA"
[33] "TP_STATUS_REDACAO"            "NU_NOTA_COMP1"
[35] "NU_NOTA_COMP2"                "NU_NOTA_COMP3"
[37] "NU_NOTA_COMP4"                "NU_NOTA_COMP5"
[39] "NU_NOTA_REDACAO"              "Q001"
[41] "Q002"                         "Q006"
[43] "Q024"                         "Q025"
[45] "Q026"                         "Q027"
[47] "Q047"                         "baseTreino[, \"NU_NOTA_MT\"]"

_O comando abaixo troca o nome da última coluna (variável resposta) chamada de **baseTreino\[,"NU_NOTA_MT"\]** para **NU_NOTA_MT**_

In [9]:
names(base)[ncol(base)] = "NU_NOTA_MT"

***Verificando quantos valores faltantes NA (missing value) existem na variável resposta.***

In [10]:
sum(is.na(base$NU_NOTA_MT))

[1] 3597

***Removendo os registros (linhas) em que a variável resposta (última coluna) apresenta um valor faltante.***

In [11]:
dim(base)

base = base[!is.na(base$NU_NOTA_MT), ]

dim(base)

[1] 13730    48

[1] 10133    48

*Verificando na **base** a quantidade de valores faltantes das demais variáveis*.

O comando abaixo apresenta a quantidade de NA's em ordem decrescente. Veja que temos 4 apenas variáveis com quantidades de valores faltantes.

In [12]:
sort(colSums(is.na(base)),decreasing = TRUE)

             TP_ENSINO TP_DEPENDENCIA_ADM_ESC             NU_NOTA_CN
                  6494                   6494                     36
            NU_NOTA_CH           NU_INSCRICAO       CO_UF_RESIDENCIA
                    36                      0                      0
      SG_UF_RESIDENCIA               NU_IDADE                TP_SEXO
                     0                      0                      0
           TP_COR_RACA       TP_NACIONALIDADE        TP_ST_CONCLUSAO
                     0                      0                      0
       TP_ANO_CONCLUIU              TP_ESCOLA           IN_TREINEIRO
                     0                      0                      0
        IN_BAIXA_VISAO            IN_CEGUEIRA              IN_SURDEZ
                     0                      0                      0
           IN_DISLEXIA         IN_DISCALCULIA           IN_SABATISTA
                     0                      0                      0
           IN_GESTANTE               IN_IDOSO         TP_PRESENCA_CN
                     0                      0                      0
        TP_PRESENCA_CH         TP_PRESENCA_LC            CO_PROVA_CN
                     0                      0                      0
           CO_PROVA_CH            CO_PROVA_LC            CO_PROVA_MT
                     0                      0                      0
            NU_NOTA_LC              TP_LINGUA      TP_STATUS_REDACAO
                     0                      0                      0
         NU_NOTA_COMP1          NU_NOTA_COMP2          NU_NOTA_COMP3
                     0                      0                      0
         NU_NOTA_COMP4          NU_NOTA_COMP5        NU_NOTA_REDACAO
                     0                      0                      0
                  Q001                   Q002                   Q006
                     0                      0                      0
                  Q024                   Q025                   Q026
                     0                      0                      0
                  Q027                   Q047             NU_NOTA_MT
                     0                      0                      0

***Algumas estatísticas das 4 variáveis que apresentam quantidades de NA's.***

In [13]:
summary( cbind(base$TP_ENSINO, base$TP_DEPENDENCIA_ADM_ESC, base$NU_NOTA_CN, base$NU_NOTA_CH) )

       V1              V2              V3              V4
 Min.   :1.000   Min.   :1.000   Min.   :  0.0   Min.   :  0.0
 1st Qu.:1.000   1st Qu.:2.000   1st Qu.:420.1   1st Qu.:481.0
 Median :1.000   Median :2.000   Median :460.4   Median :532.6
 Mean   :1.133   Mean   :2.289   Mean   :473.9   Mean   :530.3
 3rd Qu.:1.000   3rd Qu.:2.000   3rd Qu.:515.1   3rd Qu.:581.9
 Max.   :3.000   Max.   :4.000   Max.   :806.4   Max.   :807.0
 NA's   :6494    NA's   :6494    NA's   :36      NA's   :36

*Removendo **DUAS** dessas quatro variáveis que apresentam muitos valores faltantes. Decidi deixar as outras duas, porque elas apresentam poucas quantidades de NA's em relação as demais. Estas variáveis representam **as notas de Ciências da Natureza e Ciências Humanas**. Nós poderíamos ter removido as 36 linhas (registros) onde essas duas variáveis apresentam NA, mas se nós fizéssemos isto, iriamos perder 36 registros da nossa variável resposta. Para resolver este problema iremos fazer adiante uma imputação de dados.*

Lembrando que na **base de treino** ainda temos **47 variáveis**. As variáveis que estão sendo removidas aqui na **base** também **serão removidas** mais adiante na **base de teste** para podermos fazer as previsões.

In [14]:
dim(base)

base$TP_ENSINO = NULL
base$TP_DEPENDENCIA_ADM_ESC = NULL

dim(base)

[1] 10133    48

[1] 10133    46

_Aqui iremos fazer uma **imputação de dados** para as 2 variaveis que apresentaram poucos **valores NA's**._

**Os comando abaixo substituem o valor NA pela mediana da variável. Por exemplo, se a nota de ciências da Natureza do for NA subistitua essa nota pela Mediana das notas.**

In [15]:
base$NU_NOTA_CN = ifelse(is.na(base$NU_NOTA_CN), median(base$NU_NOTA_CN, na.rm = TRUE) , base$NU_NOTA_CN) 
base$NU_NOTA_CH = ifelse(is.na(base$NU_NOTA_CH), median(base$NU_NOTA_CH, na.rm = TRUE) , base$NU_NOTA_CH)

***Verificando os tipos das variáveis***

In [16]:
str(base)

'data.frame':	10133 obs. of  46 variables:
 $ NU_INSCRICAO     : Factor w/ 13730 levels "0003e4a7d68117b3585d3a0fc2b7cf3ca7ee0e8e",..: 12711 2450 8732 5369 2550 4755 3288 5996 6066 5586 ...
 $ CO_UF_RESIDENCIA : int  43 23 29 51 43 26 26 21 43 24 ...
 $ SG_UF_RESIDENCIA : Factor w/ 27 levels "AC","AL","AM",..: 23 6 5 13 23 16 16 10 23 20 ...
 $ NU_IDADE         : int  24 17 18 18 18 16 29 17 27 18 ...
 $ TP_SEXO          : Factor w/ 2 levels "F","M": 2 1 1 1 1 1 1 1 2 2 ...
 $ TP_COR_RACA      : int  1 3 1 3 1 3 3 3 3 3 ...
 $ TP_NACIONALIDADE : int  1 1 1 1 1 1 1 1 1 1 ...
 $ TP_ST_CONCLUSAO  : int  1 2 1 2 1 2 1 2 1 1 ...
 $ TP_ANO_CONCLUIU  : int  4 0 1 0 1 0 8 0 7 2 ...
 $ TP_ESCOLA        : int  1 2 1 2 1 2 1 2 1 1 ...
 $ IN_TREINEIRO     : int  0 0 0 0 0 0 0 0 0 0 ...
 $ IN_BAIXA_VISAO   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ IN_CEGUEIRA      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ IN_SURDEZ        : int  0 0 0 0 0 0 0 0 0 0 ...
 $ IN_DISLEXIA      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ IN_DISCALCULIA   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ IN_SABATISTA     : int  0 0 0 0 0 0 0 0 0 0 ...
 $ IN_GESTANTE      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ IN_IDOSO         : int  0 0 0 0 0 0 0 0 0 0 ...
 $ TP_PRESENCA_CN   : int  1 1 1 1 1 1 1 1 1 1 ...
 $ TP_PRESENCA_CH   : int  1 1 1 1 1 1 1 1 1 1 ...
 $ TP_PRESENCA_LC   : int  1 1 1 1 1 1 1 1 1 1 ...
 $ CO_PROVA_CN      : Factor w/ 10 levels "03b1fba5c1ebbc47988cd303b08982cfb2aa9cf2",..: 2 8 9 5 8 8 2 5 9 8 ...
 $ CO_PROVA_CH      : Factor w/ 10 levels "0fb4772fc6ee9b951ade2fbe6699cc37985c422e",..: 6 4 9 5 4 4 6 5 9 4 ...
 $ CO_PROVA_LC      : Factor w/ 9 levels "01abbb7f1a90505385f44eec9905f82ca2a42cfd",..: 2 2 1 6 7 6 6 1 6 6 ...
 $ CO_PROVA_MT      : Factor w/ 9 levels "0e0082361eaceb6418bb17305a2b7912650b4783",..: 9 9 8 7 4 7 7 8 7 7 ...
 $ NU_NOTA_CN       : num  436 474 440 420 620 ...
 $ NU_NOTA_CH       : num  495 544 583 604 626 ...
 $ NU_NOTA_LC       : num  581 599 411 484 611 ...
 $ TP_LINGUA        : int  1 1 0 0 0 1 1 1 0 0 ...
 $ TP_STATUS_REDACAO: int  1 1 1 1 1 1 1 1 1 1 ...
 $ NU_NOTA_COMP1    : int  120 140 120 100 140 140 100 120 120 100 ...
 $ NU_NOTA_COMP2    : int  120 120 120 120 120 160 100 160 80 60 ...
 $ NU_NOTA_COMP3    : int  120 120 120 120 120 140 100 120 40 60 ...
 $ NU_NOTA_COMP4    : int  80 120 160 120 120 140 100 120 120 80 ...
 $ NU_NOTA_COMP5    : int  80 80 100 100 120 100 120 60 0 60 ...
 $ NU_NOTA_REDACAO  : int  520 580 620 560 620 680 520 580 360 360 ...
 $ Q001             : Factor w/ 8 levels "A","B","C","D",..: 4 1 5 5 7 8 1 4 2 2 ...
 $ Q002             : Factor w/ 8 levels "A","B","C","D",..: 4 1 5 4 6 5 2 5 5 1 ...
 $ Q006             : Factor w/ 17 levels "A","B","C","D",..: 3 2 3 3 12 2 2 2 2 1 ...
 $ Q024             : Factor w/ 5 levels "A","B","C","D",..: 1 1 2 2 2 1 1 1 3 1 ...
 $ Q025             : Factor w/ 2 levels "A","B": 1 1 2 2 2 2 1 1 1 1 ...
 $ Q026             : Factor w/ 3 levels "A","B","C": 3 1 1 3 1 1 3 1 2 1 ...
 $ Q027             : Factor w/ 14 levels "","A","B","C",..: 9 1 1 6 1 1 14 1 4 1 ...
 $ Q047             : Factor w/ 5 levels "A","B","C","D",..: 1 1 1 1 4 1 1 1 1 1 ...
 $ NU_NOTA_MT       : num  399 460 364 529 567 ...

***Removendo mais algumas variáveis e convertendo algumas delas para o tipo fator.***

Lembrando que na **base de treino** ainda temos **47 variáveis**.

As variáveis que estão sendo removidas aqui na **base** também **serão removidas** mais adiante na **base de teste** para podermos fazer as previsões.

In [17]:
base$CO_UF_RESIDENCIA = NULL
base$TP_COR_RACA = as.factor(base$TP_COR_RACA)
base$TP_NACIONALIDADE = as.factor(base$TP_NACIONALIDADE)
base$TP_ST_CONCLUSAO = as.factor(base$TP_ST_CONCLUSAO)
base$TP_ANO_CONCLUIU = as.factor(base$TP_ANO_CONCLUIU)
base$TP_ESCOLA = as.factor(base$TP_ESCOLA)
base$IN_TREINEIRO = as.factor(base$IN_TREINEIRO)
base$IN_BAIXA_VISAO = as.factor(base$IN_BAIXA_VISAO)
base$IN_CEGUEIRA = as.factor(base$IN_CEGUEIRA)
base$IN_SURDEZ = as.factor(base$IN_SURDEZ)
base$IN_DISLEXIA = NULL
base$IN_DISCALCULIA = NULL
base$IN_SABATISTA = as.factor(base$IN_SABATISTA)
base$IN_GESTANTE = as.factor(base$IN_GESTANTE)
base$IN_IDOSO = NULL
base$TP_PRESENCA_CN = as.factor(base$TP_PRESENCA_CN)
base$TP_LINGUA = as.factor(base$TP_LINGUA)
base$TP_STATUS_REDACAO = NULL

In [18]:
str(base)

'data.frame':	10133 obs. of  41 variables:
 $ NU_INSCRICAO    : Factor w/ 13730 levels "0003e4a7d68117b3585d3a0fc2b7cf3ca7ee0e8e",..: 12711 2450 8732 5369 2550 4755 3288 5996 6066 5586 ...
 $ SG_UF_RESIDENCIA: Factor w/ 27 levels "AC","AL","AM",..: 23 6 5 13 23 16 16 10 23 20 ...
 $ NU_IDADE        : int  24 17 18 18 18 16 29 17 27 18 ...
 $ TP_SEXO         : Factor w/ 2 levels "F","M": 2 1 1 1 1 1 1 1 2 2 ...
 $ TP_COR_RACA     : Factor w/ 6 levels "0","1","2","3",..: 2 4 2 4 2 4 4 4 4 4 ...
 $ TP_NACIONALIDADE: Factor w/ 5 levels "0","1","2","3",..: 2 2 2 2 2 2 2 2 2 2 ...
 $ TP_ST_CONCLUSAO : Factor w/ 4 levels "1","2","3","4": 1 2 1 2 1 2 1 2 1 1 ...
 $ TP_ANO_CONCLUIU : Factor w/ 11 levels "0","1","2","3",..: 5 1 2 1 2 1 9 1 8 3 ...
 $ TP_ESCOLA       : Factor w/ 4 levels "1","2","3","4": 1 2 1 2 1 2 1 2 1 1 ...
 $ IN_TREINEIRO    : Factor w/ 2 levels "0","1": 1 1 1 1 1 1 1 1 1 1 ...
 $ IN_BAIXA_VISAO  : Factor w/ 2 levels "0","1": 1 1 1 1 1 1 1 1 1 1 ...
 $ IN_CEGUEIRA     : Factor w/ 1 level "0": 1 1 1 1 1 1 1 1 1 1 ...
 $ IN_SURDEZ       : Factor w/ 2 levels "0","1": 1 1 1 1 1 1 1 1 1 1 ...
 $ IN_SABATISTA    : Factor w/ 2 levels "0","1": 1 1 1 1 1 1 1 1 1 1 ...
 $ IN_GESTANTE     : Factor w/ 2 levels "0","1": 1 1 1 1 1 1 1 1 1 1 ...
 $ TP_PRESENCA_CN  : Factor w/ 3 levels "0","1","2": 2 2 2 2 2 2 2 2 2 2 ...
 $ TP_PRESENCA_CH  : int  1 1 1 1 1 1 1 1 1 1 ...
 $ TP_PRESENCA_LC  : int  1 1 1 1 1 1 1 1 1 1 ...
 $ CO_PROVA_CN     : Factor w/ 10 levels "03b1fba5c1ebbc47988cd303b08982cfb2aa9cf2",..: 2 8 9 5 8 8 2 5 9 8 ...
 $ CO_PROVA_CH     : Factor w/ 10 levels "0fb4772fc6ee9b951ade2fbe6699cc37985c422e",..: 6 4 9 5 4 4 6 5 9 4 ...
 $ CO_PROVA_LC     : Factor w/ 9 levels "01abbb7f1a90505385f44eec9905f82ca2a42cfd",..: 2 2 1 6 7 6 6 1 6 6 ...
 $ CO_PROVA_MT     : Factor w/ 9 levels "0e0082361eaceb6418bb17305a2b7912650b4783",..: 9 9 8 7 4 7 7 8 7 7 ...
 $ NU_NOTA_CN      : num  436 474 440 420 620 ...
 $ NU_NOTA_CH      : num  495 544 583 604 626 ...
 $ NU_NOTA_LC      : num  581 599 411 484 611 ...
 $ TP_LINGUA       : Factor w/ 2 levels "0","1": 2 2 1 1 1 2 2 2 1 1 ...
 $ NU_NOTA_COMP1   : int  120 140 120 100 140 140 100 120 120 100 ...
 $ NU_NOTA_COMP2   : int  120 120 120 120 120 160 100 160 80 60 ...
 $ NU_NOTA_COMP3   : int  120 120 120 120 120 140 100 120 40 60 ...
 $ NU_NOTA_COMP4   : int  80 120 160 120 120 140 100 120 120 80 ...
 $ NU_NOTA_COMP5   : int  80 80 100 100 120 100 120 60 0 60 ...
 $ NU_NOTA_REDACAO : int  520 580 620 560 620 680 520 580 360 360 ...
 $ Q001            : Factor w/ 8 levels "A","B","C","D",..: 4 1 5 5 7 8 1 4 2 2 ...
 $ Q002            : Factor w/ 8 levels "A","B","C","D",..: 4 1 5 4 6 5 2 5 5 1 ...
 $ Q006            : Factor w/ 17 levels "A","B","C","D",..: 3 2 3 3 12 2 2 2 2 1 ...
 $ Q024            : Factor w/ 5 levels "A","B","C","D",..: 1 1 2 2 2 1 1 1 3 1 ...
 $ Q025            : Factor w/ 2 levels "A","B": 1 1 2 2 2 2 1 1 1 1 ...
 $ Q026            : Factor w/ 3 levels "A","B","C": 3 1 1 3 1 1 3 1 2 1 ...
 $ Q027            : Factor w/ 14 levels "","A","B","C",..: 9 1 1 6 1 1 14 1 4 1 ...
 $ Q047            : Factor w/ 5 levels "A","B","C","D",..: 1 1 1 1 4 1 1 1 1 1 ...
 $ NU_NOTA_MT      : num  399 460 364 529 567 ...

*Aqui estamos removendo da base um único registro (uma linha) que pertence ao nível (categoria) 4 da variável 'TP_ESCOLA' que é do tipo fator. **Nenhum registro da baseTreino é classificado como sendo do nível (categoria) 4**. Portanto decidimos remover este único registro da **base** que será usada para treinar nosso modelo de aprendizagem de máquina.*

In [19]:
dim(base)

base = base[-which(base$TP_ESCOLA == 4),]

base$TP_ESCOLA=droplevels(base$TP_ESCOLA)

dim(base)

[1] 10133    41

[1] 10132    41

***Removendo e convertendo mais algumas variáveis.***

Lembre-se na **base de treino** ainda temos **47 variáveis**.

In [20]:
base$TP_PRESENCA_CH = NULL
base$TP_PRESENCA_CN = NULL
base$TP_PRESENCA_LC = NULL
base$CO_PROVA_CN = NULL
base$CO_PROVA_CH = NULL
base$CO_PROVA_LC = NULL
base$CO_PROVA_MT = NULL
base$Q027 = NULL
base$IN_CEGUEIRA = NULL
base$NU_IDADE = as.numeric(base$NU_IDADE)
base$NU_NOTA_REDACAO = as.numeric(base$NU_NOTA_REDACAO)

dim(base)

[1] 10132    32

***A partir daqui podemos fazer uma análise exploratória e descritiva dos dados para ficarmos mais familiarizados com eles. Podemos fazer algumas análises gráficas, verificar se existe algum padrão intuitivo a partir dessas visualizações, além de obter e fornecer informações relevantes sobre o comportamento ou tendência dos participantes do ENEM 2016.***

Para não deixar este notebook mais extenso, vou diretamente para o ajuste do modelo de aprendizagem de máquina.
Decidi utilizar o modelo de Floresta Aleatória (ou **Random Forest** para quem gosta de anglicismo).

## Ajustando o modelo de aprendizagem de máquina

***Esta etapa pode demorar um pouco, pois o valor do parâmetro 'ntree' da funcão 'randomForest' que estou usando é 250 (árvores).***

In [21]:
regressor = randomForest(x = base[-which(names(base)==c("NU_INSCRICAO", "NU_NOTA_MT"))], y = base$NU_NOTA_MT, ntree = 250)

***Identificando as variaveis usadas na base de treino.***

In [22]:
variaveis = names(base)

In [23]:
variaveis

 [1] "NU_INSCRICAO"     "SG_UF_RESIDENCIA" "NU_IDADE"         "TP_SEXO"
 [5] "TP_COR_RACA"      "TP_NACIONALIDADE" "TP_ST_CONCLUSAO"  "TP_ANO_CONCLUIU"
 [9] "TP_ESCOLA"        "IN_TREINEIRO"     "IN_BAIXA_VISAO"   "IN_SURDEZ"
[13] "IN_SABATISTA"     "IN_GESTANTE"      "NU_NOTA_CN"       "NU_NOTA_CH"
[17] "NU_NOTA_LC"       "TP_LINGUA"        "NU_NOTA_COMP1"    "NU_NOTA_COMP2"
[21] "NU_NOTA_COMP3"    "NU_NOTA_COMP4"    "NU_NOTA_COMP5"    "NU_NOTA_REDACAO"
[25] "Q001"             "Q002"             "Q006"             "Q024"
[29] "Q025"             "Q026"             "Q047"             "NU_NOTA_MT"

***Removendo a primeira e a última posição que representa o número de inscrição e a nota do participante.***

In [24]:
variaveis = variaveis[-which(variaveis==c("NU_INSCRICAO", "NU_NOTA_MT"))]

In [25]:
variaveis

 [1] "SG_UF_RESIDENCIA" "NU_IDADE"         "TP_SEXO"          "TP_COR_RACA"
 [5] "TP_NACIONALIDADE" "TP_ST_CONCLUSAO"  "TP_ANO_CONCLUIU"  "TP_ESCOLA"
 [9] "IN_TREINEIRO"     "IN_BAIXA_VISAO"   "IN_SURDEZ"        "IN_SABATISTA"
[13] "IN_GESTANTE"      "NU_NOTA_CN"       "NU_NOTA_CH"       "NU_NOTA_LC"
[17] "TP_LINGUA"        "NU_NOTA_COMP1"    "NU_NOTA_COMP2"    "NU_NOTA_COMP3"
[21] "NU_NOTA_COMP4"    "NU_NOTA_COMP5"    "NU_NOTA_REDACAO"  "Q001"
[25] "Q002"             "Q006"             "Q024"             "Q025"
[29] "Q026"             "Q047"

*Selecionando na **baseTeste** apenas as variáveis utilizadas na **base**, que são as covariáveis usadas para ajustar o modelo de aprendizagem.*

In [26]:
dim(baseTeste)
dadosTeste = baseTeste[variaveis]
dim(dadosTeste)

[1] 4576   47

[1] 4576   30

*Verificando nos **dadosTeste** a quantidade de valores faltantes NA's*.

O comando abaixo apresenta a quantidade de NA's em ordem decrescente. Veja que temos 9 variáveis com altas quantidades de valores faltantes. Estas variáveis estão representando as notas das provas de cada área de estudo tais como Redação, Linguagens, Ciências da Natureza e Ciências Humanas.

In [27]:
sort(colSums(is.na(dadosTeste)),decreasing = TRUE)

      NU_NOTA_LC    NU_NOTA_COMP1    NU_NOTA_COMP2    NU_NOTA_COMP3
            1199             1199             1199             1199
   NU_NOTA_COMP4    NU_NOTA_COMP5  NU_NOTA_REDACAO       NU_NOTA_CN
            1199             1199             1199             1134
      NU_NOTA_CH SG_UF_RESIDENCIA         NU_IDADE          TP_SEXO
            1134                0                0                0
     TP_COR_RACA TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU
               0                0                0                0
       TP_ESCOLA     IN_TREINEIRO   IN_BAIXA_VISAO        IN_SURDEZ
               0                0                0                0
    IN_SABATISTA      IN_GESTANTE        TP_LINGUA             Q001
               0                0                0                0
            Q002             Q006             Q024             Q025
               0                0                0                0
            Q026             Q047
               0                0

***Os comando abaixo substituem o valor NA por 0 (zero). Pois significa que o participante não compareceu para fazer todas as provas.***

In [28]:
dadosTeste$NU_NOTA_LC = ifelse(is.na(dadosTeste$NU_NOTA_LC), 0 , dadosTeste$NU_NOTA_LC) 
dadosTeste$NU_NOTA_COMP1 = ifelse(is.na(dadosTeste$NU_NOTA_COMP1), 0 , dadosTeste$NU_NOTA_COMP1) 
dadosTeste$NU_NOTA_COMP2 = ifelse(is.na(dadosTeste$NU_NOTA_COMP2), 0 , dadosTeste$NU_NOTA_COMP2) 
dadosTeste$NU_NOTA_COMP3 = ifelse(is.na(dadosTeste$NU_NOTA_COMP3), 0 , dadosTeste$NU_NOTA_COMP3) 
dadosTeste$NU_NOTA_COMP4 = ifelse(is.na(dadosTeste$NU_NOTA_COMP4), 0 , dadosTeste$NU_NOTA_COMP4) 
dadosTeste$NU_NOTA_COMP5 = ifelse(is.na(dadosTeste$NU_NOTA_COMP5), 0 , dadosTeste$NU_NOTA_COMP5) 
dadosTeste$NU_NOTA_REDACAO = ifelse(is.na(dadosTeste$NU_NOTA_REDACAO), 0 , dadosTeste$NU_NOTA_REDACAO) 
dadosTeste$NU_NOTA_CN = ifelse(is.na(dadosTeste$NU_NOTA_CN), 0 , dadosTeste$NU_NOTA_CN) 
dadosTeste$NU_NOTA_CH = ifelse(is.na(dadosTeste$NU_NOTA_CH), 0 , dadosTeste$NU_NOTA_CH)

In [29]:
sort(colSums(is.na(dadosTeste)),decreasing = TRUE)

SG_UF_RESIDENCIA         NU_IDADE          TP_SEXO      TP_COR_RACA
               0                0                0                0
TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU        TP_ESCOLA
               0                0                0                0
    IN_TREINEIRO   IN_BAIXA_VISAO        IN_SURDEZ     IN_SABATISTA
               0                0                0                0
     IN_GESTANTE       NU_NOTA_CN       NU_NOTA_CH       NU_NOTA_LC
               0                0                0                0
       TP_LINGUA    NU_NOTA_COMP1    NU_NOTA_COMP2    NU_NOTA_COMP3
               0                0                0                0
   NU_NOTA_COMP4    NU_NOTA_COMP5  NU_NOTA_REDACAO             Q001
               0                0                0                0
            Q002             Q006             Q024             Q025
               0                0                0                0
            Q026             Q047
               0                0

***Convertendo as variáveis categóricas para o tipo fator.***

In [30]:
dadosTeste$SG_UF_RESIDENCIA = as.factor(dadosTeste$SG_UF_RESIDENCIA)
dadosTeste$TP_COR_RACA = as.factor(dadosTeste$TP_COR_RACA)
dadosTeste$TP_NACIONALIDADE = as.factor(dadosTeste$TP_NACIONALIDADE)
dadosTeste$TP_ST_CONCLUSAO = as.factor(dadosTeste$TP_ST_CONCLUSAO)
dadosTeste$TP_ANO_CONCLUIU = as.factor(dadosTeste$TP_ANO_CONCLUIU)
dadosTeste$TP_ESCOLA = as.factor(dadosTeste$TP_ESCOLA)
dadosTeste$IN_TREINEIRO = as.factor(dadosTeste$IN_TREINEIRO)
dadosTeste$IN_BAIXA_VISAO = as.factor(dadosTeste$IN_BAIXA_VISAO)
dadosTeste$IN_SURDEZ = as.factor(dadosTeste$IN_SURDEZ)
dadosTeste$IN_SABATISTA = as.factor(dadosTeste$IN_SABATISTA)
dadosTeste$IN_GESTANTE = as.factor(dadosTeste$IN_GESTANTE)
dadosTeste$TP_LINGUA = as.factor(dadosTeste$TP_LINGUA)

## Obtendo as previsões

In [31]:
previsoes = predict(regressor, newdata = dadosTeste)

***Criando um objeto com o Número de Inscrição, Nota de Ciências da Natureza e Previsões da Nota de Matemática***

In [32]:
notas = cbind(baseTeste[1], dadosTeste$NU_NOTA_CN , previsoes)

In [33]:
head(notas)

  NU_INSCRICAO                             dadosTeste$NU_NOTA_CN previsoes
1 73ff9fcc02f0a99919906c942c2e1a1042cdcf98 464.8                 437.0905
2 71a95f9f1b91a82c65ad94abbdf9f54e6066f968 391.1                 447.0095
3 b38a03232f43b11c9d0788abaf060f7366053b6d 595.9                 570.0676
4 70b682d9a3636be23f6120fa9d6b164eb3c6002d   0.0                 169.2071
5 715494628a50142ce8cb17191cfe6d0f3cae0934 592.9                 542.3677
6 e656d6bad65c93fb2880f1eba5037008c8e75774 414.5                 479.1597

_Alterando o nome **'dadosTeste$NU_NOTA_CN'** para **'NU_NOTA_CN'**_

In [34]:
names(notas)[2] = "NU_NOTA_CN"
head(notas)

  NU_INSCRICAO                             NU_NOTA_CN previsoes
1 73ff9fcc02f0a99919906c942c2e1a1042cdcf98 464.8      437.0905
2 71a95f9f1b91a82c65ad94abbdf9f54e6066f968 391.1      447.0095
3 b38a03232f43b11c9d0788abaf060f7366053b6d 595.9      570.0676
4 70b682d9a3636be23f6120fa9d6b164eb3c6002d   0.0      169.2071
5 715494628a50142ce8cb17191cfe6d0f3cae0934 592.9      542.3677
6 e656d6bad65c93fb2880f1eba5037008c8e75774 414.5      479.1597

_No objeto **notas** verificamos na coluna **'NU_NOTA_CN'** que algumas linhas estão com **nota 0 (zero)**. Isso quer dizer que o participante não compareceu para fazer as provas. Portanto, **se a nota do participante é 0 na prova de Ciências da Natureza então a previsão de sua nota de Matemática também é 0**. Neste caso, **iremos substituir o valor da previsão da nota de Matemática por NA**. O comando abaixo faz essa correçao nas previsões._

In [35]:
for (i in 1:nrow(notas)) {
  if(notas$NU_NOTA_CN[i]==0){ notas$previsoes[i] = NA }
}

In [36]:
head(notas)

  NU_INSCRICAO                             NU_NOTA_CN previsoes
1 73ff9fcc02f0a99919906c942c2e1a1042cdcf98 464.8      437.0905
2 71a95f9f1b91a82c65ad94abbdf9f54e6066f968 391.1      447.0095
3 b38a03232f43b11c9d0788abaf060f7366053b6d 595.9      570.0676
4 70b682d9a3636be23f6120fa9d6b164eb3c6002d   0.0            NA
5 715494628a50142ce8cb17191cfe6d0f3cae0934 592.9      542.3677
6 e656d6bad65c93fb2880f1eba5037008c8e75774 414.5      479.1597

***Removendo a coluna 'NU_NOTA_CN'***

In [37]:
notas$NU_NOTA_CN=NULL
head(notas)

  NU_INSCRICAO                             previsoes
1 73ff9fcc02f0a99919906c942c2e1a1042cdcf98 437.0905
2 71a95f9f1b91a82c65ad94abbdf9f54e6066f968 447.0095
3 b38a03232f43b11c9d0788abaf060f7366053b6d 570.0676
4 70b682d9a3636be23f6120fa9d6b164eb3c6002d       NA
5 715494628a50142ce8cb17191cfe6d0f3cae0934 542.3677
6 e656d6bad65c93fb2880f1eba5037008c8e75774 479.1597

***Criando o objeto 'answer'***

In [38]:
answer = notas

***Trocando o nome 'previsoes' por 'NU_NOTA_MT'***

In [39]:
names(answer)[2] = "NU_NOTA_MT"
head(answer)

  NU_INSCRICAO                             NU_NOTA_MT
1 73ff9fcc02f0a99919906c942c2e1a1042cdcf98 437.0905
2 71a95f9f1b91a82c65ad94abbdf9f54e6066f968 447.0095
3 b38a03232f43b11c9d0788abaf060f7366053b6d 570.0676
4 70b682d9a3636be23f6120fa9d6b164eb3c6002d       NA
5 715494628a50142ce8cb17191cfe6d0f3cae0934 542.3677
6 e656d6bad65c93fb2880f1eba5037008c8e75774 479.1597

## Criando um arquivo CSV com a solução do desafio

In [40]:
write.table(answer, file = "answer.csv", row.names = FALSE, sep = ",")

**Fazendo a Leitura do arquivo ('answer.csv') que contem a solução do desavio.**

In [41]:
tes = read.csv("answer.csv")

***Verificando as primeiras Linhas do arquivo***

In [42]:
head(tes)

  NU_INSCRICAO                             NU_NOTA_MT
1 73ff9fcc02f0a99919906c942c2e1a1042cdcf98 437.0905
2 71a95f9f1b91a82c65ad94abbdf9f54e6066f968 447.0095
3 b38a03232f43b11c9d0788abaf060f7366053b6d 570.0676
4 70b682d9a3636be23f6120fa9d6b164eb3c6002d       NA
5 715494628a50142ce8cb17191cfe6d0f3cae0934 542.3677
6 e656d6bad65c93fb2880f1eba5037008c8e75774 479.1597